# Ensures packages test correctly
name: Test Packages

on:
  push:

jobs:
  test:
    name: Test Packages
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        mysql-version: [ 8.0, 8.4 ]

    steps:
      - uses: actions/checkout@v5
      - name: Enable Corepack
        run: corepack enable

      - name: Start MySQL
        run: |
          docker run \
          --name zongji_test \
          -e MYSQL_ROOT_PASSWORD=my_password \
          -p 3306:3306 \
          -d mysql:${{ matrix.mysql-version }} \
          --log-bin=/var/lib/mysql/mysql-bin.log

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm test
